body {
  background-color: #fecfd5;
}

header {
  margin-top: 30px !important;
  margin-bottom: 50px;
}

#artist-map {
  margin-left: 50px;
  width: 30%;
}

#artist-icons {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border: 9px solid white;
  border-radius: 100%;
}

#color-covers {
  margin-top: 50px;
  /* margin-bottom: 60px; */
  width: 80%;
}

#discover-text {
  font-size: 3rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 50px;
}

#login-with {
  border: none;
  background-color: white;
  border-radius: 30px;
  padding: 25px;
  font-weight: bold;
  margin-bottom: 50px;
  text-decoration: none;
  color: black;
}

#sign-out {
  border: none;
  background-color: white;
  border-radius: 30px;
  padding: 15px;
  font-weight: bold;
  margin-bottom: 50px;
  text-decoration: none;
  color: black;
  margin-left: 30px;
  margin-right: 30px;
  float: right;
}

.right-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
